<div class="row" id="notif_row" >
<div class="col-sm-8 col-sm-offset-2" id="notif" role="alert">
	<h3>
		PROGRESS
	</h3>
	<div class="progress">
	  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=@num_questions*100/@total_questions%>%;">
	  </div>
	</div>
	<h4> <span style="color:#038c8c"><%=@message%></span> <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#details">View Details</button></h4>
	
</div>
</div>

<% if @displayFbModal %>
	<script type="text/javascript">
	    $(document).ready(function () {
	        $('#fbModal').modal('show');
	    });
	</script>
<% end %>

<!-- Modal -->
<div class="modal fade" id="fbModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Like us on Facebook!</h4>
      </div>
      <div class="modal-body">
        <h4>Want us to improve and continue giving free services? </h4><br><br>
			<div class="fb-like" data-href="https://facebook.com/praxeng" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div><br><br>
			<p><a href="www.facebook.com/praxeng" target="_blank">facebook.com/praxeng</a></p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Details</h4>
      </div>
      <div class="modal-body">
				<p><strong><%= @ann_count%></strong> users have answered this question.</p>
				<table class="table  table-bordered table-condensed">
					<tr>
						<th>Option</th>
						<!-- <th>Correct Answer</th> -->
						<th>Your response</th>
						<th>Votes</th>
					</tr>
					<% @instance.answers.each do |opt|%>
						<tr>
							<td><span id="option"><span id="arg1"><%= @instance.args[0]["text"]%><%= @instance.args[0]["mention_text"]%></span> <em><%= opt["relation_display_name"] %></em> <span id="arg2"><%=@instance.args[1]["text"] %><%= @instance.args[1]["mention_text"]%></span></td>
							<!-- <td><span class="glyphicon glyphicon-ok"></span></td> -->
							<td><span class="label label-primary"><%=@user_resp[opt["relation_display_name"]]%></span></td>
							<td><%= @crowd1[opt["relation_display_name"]]%>/<%= @ann_count%></td>
						</tr>
					<% end %>
					<tr>
						<td>None of these </td>
						<!-- <td><span class="glyphicon glyphicon-ok"></span></td> -->
						<td><span class="label label-primary"><%=@user_resp["none"]%></span></td>
						<td><%= @crowd1["none"]%>/<%= @ann_count%></td>
					</tr>
				</table>
				
      </div>
      <!-- <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Challenge Answer</button>
      </div> -->
    </div>
  </div>
</div>



<div class="row" id="task_question">	
	<div class="jumbotron col-lg-10 col-lg-offset-1">	
		<p id="instruction"><strong>Step 1:</strong> Carefully read the following sentence:</p>
		<p id="question">
			<% i =0 %>		
			<%@current_sentence.split(" ").length.times do %>
				<% if (i>=@current_instance.args[0]["sent_tok_span"][0] && i<@current_instance.args[0]["sent_tok_span"][1]) %>
					<span id="arg1"><%= @current_sentence.split(" ")[i]%></span>
				<%elsif (i>=@current_instance.args[1]["sent_tok_span"][0] && i<@current_instance.args[1]["sent_tok_span"][1])%>
						<span id="arg2"><%= @current_sentence.split(" ")[i]%></span>
				<%else%>
					<%= @current_sentence.split(" ")[i]%>
				<%end%>
				<% i+= 1 %>
			<%end%>
		</p>
		
		<p id="instruction"><strong>Step 2:</strong> Fill in the blank to indicate what the sentence convey. Select all options you can:</p>
		
		<p id="question"><span id="arg1"> <%= @current_instance.args[0]["text"]%><%= @current_instance.args[0]["mention_text"]%> </span> <u><span id="blank">Engcomprehenon</span></u> <span id="arg2"> <%=@current_instance.args[1]["text"] %><%= @current_instance.args[1]["mention_text"]%></span></p>
	</div>	
		<form action='/english-comprehension-practice/response' role="form" method="post">
		  <div class="form-group">
				<div class="col-sm-8 col-sm-offset-2 btn-toolbar-vertical" data-toggle="buttons">
					<% i=0 %>
					<% @current_instance.answers.each do |opt|%>
						<label class="btn btn-default btn-lg btn-block" id="checkboxes">
							<input type="checkbox" name="response[r<%=i%>]" value="<%=opt["relation_display_name"]%>" /><span id="option"><em><%= opt["relation_display_name"] %></em></span>
						</label>
						<% i=i+1 %>
					<% end %>
				</div>

				<div class="col-sm-8 col-sm-offset-2 btn-toolbar-vertical">
					<!-- <button type="button" class="btn btn-danger btn-lg">Skip</button> -->
					<button type="submit" class="btn btn-primary btn-lg btn-block" name="option" value="submit" data-toggle="modal"  >Submit</button>	
					<button type="submit" class="btn btn-danger btn-lg btn-block" name="option" value="none" data-toggle="modal" >None of these</button>		
				</div>
		
				<input type="hidden" name="instance_id" value= "<%= @current_instance.id %>">
				<input type="hidden" name="user_id" value= "<%= @curr_user.id %>">
		
			</div>
		</form>
	<!-- </div> -->
</div>