<div class="row" id="top_section">	
	<h3 style="color:#038c8c">Free English Comprehension Test</h3>			
		<div class="col-sm-6 col-sm-offset-3" id="questionDiv">
		<div class="alert alert-success" role="alert">
			<p style="text-align:center"><span class="label label-primary">Question: <%=@question_num%>/10</span>
			<span class="label label-success">Correct: <%=@num_correct%>/10</span>
			</p><br>
			<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpraxeng&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;width:130px" allowTransparency="true"></iframe>
		</div>
			<p id="instruction"><strong>Step 1:</strong> Carefully read the following sentence:</p>
			<p id="question" class="well">
				<% i =0 %>		
				<%@current_sentence.split(" ").length.times do %>
					<% if (i>=@current_question.args[0]["sent_tok_span"][0] && i<@current_question.args[0]["sent_tok_span"][1]) %>
						<span id="arg1"><%= @current_sentence.split(" ")[i]%></span>
					<%elsif (i>=@current_question.args[1]["sent_tok_span"][0] && i<@current_question.args[1]["sent_tok_span"][1])%>
							<span id="arg2"><%= @current_sentence.split(" ")[i]%></span>
					<%else%>
						<%= @current_sentence.split(" ")[i]%>
					<%end%>
					<% i+= 1 %>
				<%end%>
			</p>
	
			<p id="instruction"><strong>Step 2:</strong> Fill in the blank based on information conveyed in the sentence. Select all options.</p>
		
		<p id="question_blank" class="well"><span id="arg1"> <%= @current_question.args[0]["text"]%><%= @current_question.args[0]["mention_text"]%> </span> <u><span id="blank">ssssssssssssssssss</span></u> <span id="arg2"> <%=@current_question.args[1]["text"] %><%= @current_question.args[1]["mention_text"]%></span></p>
	
		<form action='/english-comprehension' role="form" method="post">
		  <div class="form-group">
				<div class="btn-toolbar-vertical" data-toggle="buttons">
					<% i=0 %>
					<% @current_question.answers.each do |opt|%>
						<label class="btn btn-default btn-lg btn-block" id="checkboxes">
							<input type="checkbox" name="response[r<%=i%>]" value="<%=opt%>" /><span id="option"><em><%= opt["relation_display_name"] %></em></span>
						</label>
						<% i=i+1 %>
					<% end %>
				</div>

				<div class="btn-toolbar-vertical">
					<!-- <button type="button" class="btn btn-danger btn-lg">Skip</button> -->
					<button type="submit" class="btn btn-primary btn-lg btn-block" name="option" value="submit" data-toggle="modal"  >Submit</button>	
					<button type="submit" class="btn btn-danger btn-lg btn-block" name="option" value="none" data-toggle="modal" >None of these</button>		
				</div>
		
				<input type="hidden" name="instance_id" value= "<%= @current_question.id %>">
				<input type="hidden" name="user_id" value= "<%= @curr_user.id %>">
				<input type="hidden" name="question_num" value= "<%= @question_num %>">
				<input type="hidden" name="num_correct" value= "<%= @num_correct %>">
				<input type="hidden" name="question_id" value= "<%= @question_id%>">
			</div>
		</form>
	</div>	
</div>