<div class="row">
	<div class="jumbotron" id="task_heading">
		
		<div class="row">
			<p><%= @current_sentence%></p>
			<h2><small>Does the above sentence convey?</small></h2>
		</div>
		
		<div class="col-md-6 col-md-offset-3">
			<form action='/main/create' role="form" method="post">
			  <div class="form-group">
					<div class="row">
						<div class="btn-toolbar-vertical" data-toggle="buttons">
						<% i=0 %>
						<% @current_instance.answers.each do |opt|%>
							<label class="btn btn-default btn-lg btn-block">
								<input type="checkbox" name="response[r<%=i%>]" value="<%=opt["relation_display_name"]%>"> <%= @current_instance.args[0]["text"]%><%= @current_instance.args[0]["mention_text"]%> <em><%= opt["relation_display_name"] %></em> <%=@current_instance.args[1]["text"] %><%= @current_instance.args[1]["mention_text"]%>
							</label>
							<% i=i+1 %>
						<% end %>
						</div>
					</div>
	
					<div class="row">
						<div class="btn-toolbar">
							<!-- <button type="button" class="btn btn-danger btn-lg">Skip</button> -->
							<button type="submit" class="btn btn-success btn-lg btn-block" name="option" value="submit">Submit</button>	
							<button type="submit" class="btn btn-danger btn-lg btn-block" name="option" value="none">None of these</button>
							
						</div>		
					</div>
				</div>
			
				<input type="hidden" name="instance_id" value= "<%= @current_instance.id %>">
				<input type="hidden" name="user_id" value= "<%= @curr_user.id %>">
			</form>
		</div>
</div>
