<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href='http://fonts.googleapis.com/css?family=Euphoria+Script' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <title><%= content_for?(:title) ? yield(:title) : "PraxEng: Practice English Comprehension with Others" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
		
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>


		<!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon"> -->

    <%= javascript_include_tag "application" %>
		<script src="assets/autohiding.js"></script>
  </head>
  <body>		
		<!-- <div class="container"> -->
			<nav class="navbar navbar-default navbar-static-top" role="navigation">
		  	<div class="container-fluid" id="navbar_top">
		    	<!-- Brand and toggle get grouped for better mobile display -->
		    	<div class="navbar-header">
		      	<button type="button" class="navbar-toggle" data-toggle="collapse"	data-target="#bs-example-navbar-collapse-1">
		        	<span class="sr-only">Toggle navigation</span>
		        	<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
		      	</button>
		      	<a class="navbar-brand" href="/main/welcome">Prax<span id="eng_color">Eng</span></a>
		    	</div>
			
		    	<!-- Collect the nav links, forms, and other content for toggling -->
		    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      	<ul class="nav navbar-nav navbar-right">
		        	<li><a href="/main/about">About us</a></li>
		        	<li><a href="mailto:weld@cs.washington.edu?Subject=[PraxEng]: " target="_top">Contact us</a></li>
		        	<!-- <li><a href="#">Privacy</a></li> -->
		      	</ul>
		    	</div><!-- /.navbar-collapse -->
					
		 	</div><!-- /.container-fluid -->
		</nav>
	<!-- </div> -->
	
	<div class="container">
		
		
    <%= yield %>
  	

		<div class="row" id="footer_row">
		<footer id="footer" class="navbar navbar-static-bottom" role="navigation">
	    <div class="navbar-left">
	      <a class="navbar-brand" href="/main/welcome">PraxEng</a>
	    </div>
			
	    <div class="navbar-right pull-right" >	 
      	<ul class="nav navbar-nav navbar-right">
        	<li><a class="footer-nav__link footer-nav__link--icon footer-nav__link--icon-facebook" href="http://facebook.com/praxeng" target="_blank" title="Facebook Page"><i class="fa fa-facebook"></i></a></li>
        	<li><a class="footer-nav__link footer-nav__link--icon footer-nav__link--icon-twitter" href="http://twitter.com/praxeng" target="_blank" title="Twitter Profile"><i class="fa fa-twitter"></i></a></li>
        	<!-- <li><a href="#">Privacy</a></li> -->
      	</ul>      
	               
	    </div>
		</footer>
	</div>
	</div>
	
</body>
</html>
